// COLOR
@f-color: #454858;
@f-color-secondary: #4d4d4d;
@active-color: #4ac983;
@focus-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);

// FONT
@f-family-base: "Ebrima", sans-serif;
@f-weight-heading: 700;
@f-size-xs: 16px;
@f-size-heading-xs: 1.5em;
@f-size-subheading-xs: 1.25em;
@f-size-footer-xs: 0.875em;
@f-size-lg: 18px;
@f-size-heading-lg: 2.75em;
@f-size-subheading-lg: 1.5em;
@f-size-footer-lg: 1em;

// MEDIA
// min
@sm-min: 576px;
@md-min: 768px;
@lg-min: 992px;
@xl-min: 1200px;

// max
@xs-max: 575px;
@sm-max: 767px;
@md-max: 991px;
@lg-max: 1199px;

// HEADER
@header-height-xs: 46px;
@header-height-lg: 70px;
